// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    margin: 0px;
    height: 100vh;
    background-color: #666633;

    .header-dashboard{
    
        font-family: Arial, Helvetica, sans-serif;
        background-color: #CCCC99;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .links {
            margin-left: auto;
            margin-right: 30px;

            a{
                text-decoration: none;
                color: white;
                background-color: #990033;
                padding: 8px;
                border-radius: 4px;
                height: fit-content;
            }
        }
    
        .start-test-link:hover{
            cursor: pointer;
        }
        
        h1 {
            display: inline-block;
            margin-left: auto;
        }
    }

    .q-form {
        padding: 20px 0px;
    }
}

.hidden {
    display: none !important;
}
